.container1
{
    /* center contents */
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}
main td
{
    /* left-align tables' cells */
    text-align: left;
}
body {
    background-image: url("9213.jpg");
    background-repeat: repeat;
    background-size: auto auto;
}