{% extends "layout.html" %}
{% block title %}
    Add Course
{% endblock %}

{% block main %}
<form class="form-horizontal"  action="{{ url_for('add_courses') }}" method="post">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <div class="form-group"> <!-- Full Name -->
        <label for="course_id" class="control-label col-sm-2">Course ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="course_id" name="courseid" placeholder="Enter Course Id" required/>
        </div>  
    </div>

    <div class="form-group"> <!-- Full Name -->
        <label for="course_name" class="control-label col-sm-2">Course Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="course_name" name="name" placeholder="Enter Course Name" required/>
        </div>  
    </div>

    <div class="form-group"> <!-- Email -->
        <label for="lactures" class="control-label col-sm-2">Lactures(Per week)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lacture" name="lacture" placeholder="per week" required />
        </div>  
    </div>
    
    <div class="form-group"> <!-- Frequency Field -->
        <label class="control-label col-sm-2">Lab Hours</label>
        <div class="col-sm-10">
                <div class="radio">
                        <label class="radio">
                            <input name="lab" type="radio" value="0" checked/>
                            No lab
                        </label>
                    </div>
            <div class="radio">
                <label class="radio">
                    <input name="lab" type="radio" value="2"/>
                    Two Hour
                </label>
            </div>
            <div class="radio">
                <label class="radio">
                    <input name="lab" type="radio" value="3"/>
                    Three Hour
                </label>
            </div>											
        </div>
    </div>
    
    <div class="form-group"> <!-- Frequency Field -->
        <label class="control-label col-sm-2">Tutorials</label>
        <div class="col-sm-10">
            <div class="radio">
                <label class="radio">
                    <input name="tutorial" type="radio" value="1"/>
                    Yes
                </label>
            </div>
            <div class="radio">
                <label class="radio">
                    <input name="tutorial" type="radio" value="0" checked/>
                    NO
                </label>
            </div>											
        </div>
    </div>
     
    <div class="form-group"> <!-- Submit Button -->
        <div class="col-sm-10 col-sm-offset-2">                     
            <button type="submit" class="btn btn-primary">Add me!</button>
        </div>
    </div> 
</form>       
{% endblock %}