{% extends "layout.html" %}
{% block title %}
    Add Faculty
{% endblock %}

{% block main %}
<form class="form-horizontal">

    <div class="form-group"> <!-- Full Name -->
        <label for="name" class="control-label col-sm-2">Full Name</label>                        
        <div class="col-sm-10">
           <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
        </div>  
    </div>

    <div class="form-group"> <!-- Email -->
        <label for="email_id" class="control-label col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email_id" name="email_name" placeholder="name@domain.com">
            <p class="help-text">We value your privacy and will never sell your email address.</p>
        </div>  
    </div>

    <div class="form-group"> <!-- Mobile No -->
        <label for="mobile_no" class="control-label col-sm-2">Mobile No.</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="mobile_no" name="mobile_no" placeholder="Mobile No.">
        </div>  
    </div>

    <div class="form-group"> <!-- Birth Date-->
        <label for="birthdate" class="control-label col-sm-2">BirthDate</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="birthdate" name="birthdate">
        </div>  
    </div>
    
    <div class="form-group"> <!-- Submit Button -->
        <div class="col-sm-10 col-sm-offset-2">                     
            <button type="submit" class="btn btn-primary">Add Me!</button>
        </div>
    </div>  
</form>
{% endblock %}