{% extends "layout.html" %}
{% block title %}
    Add Faculty
{% endblock %}

{% block main %}
<div class="addfaculty" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<form class="form-horizontal" action="{{ url_for('add_faculty') }}" method="post">
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    <div class="form-group"> <!-- Full Name -->
        <label for="name" class="control-label col-sm-3">Full Name</label>                        
        <div class="col-sm-1">
           <input type="text" class="form-control" id="name" name="name" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="Full Name" required>
        </div>  
    </div>

    <div class="form-group"> <!-- Email -->
        <label for="email_id" class="control-label col-sm-3">Email</label>
        <div class="col-sm-1">
            <input type="email" class="form-control" id="email" name="email" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="name@domain.com" required>
        </div>  
    </div>

    <div class="form-group"> <!-- Mobile No -->
        <label for="mobile_no" class="control-label col-sm-3">Mobile No.</label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="mobile_no" name="mobile" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="Mobile No." required>
        </div>  
    </div>

    <div class="form-group"> <!-- Birth Date-->
        <label for="birthdate" class="control-label col-sm-3">BirthYear</label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="birthdate" name="birthdate" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="Year for password" required>
        </div>  
    </div>
    
    <div class="form-group"> <!-- Submit Button -->
        <div class="col-sm-1 col-sm-offset-8">                     
            <button type="submit" class="btn btn-primary" style="width: 100px;">Add</button>
        </div>
    </div>  
</form>
</div>
{% endblock %}
