{% extends "layout.html" %}
{% block title %}
    Offers
{% endblock %}

{% block main %}
<div class="addoffer" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<form class="form-horizontal" action="{{ url_for('add_offer') }}" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <div class="form-group"> <!--prof list  -->
        <label for="proflist" class="control-label col-sm-3">Select Professor</label>
        <div class="col-sm-1">
            <select class="form-control" id="proflist" name="prof" style="width: 390px;" required>
                {% for prof in profs %}
                <option value="{{ prof.id }}" >{{ prof.name }}</option>
                {% endfor %}
            </select>
        </div>  
    </div>

    <div class="form-group"> <!--course list -->
        <label for="slotlist" class="control-label col-sm-3">Select Course</label>
        <div class="col-sm-1">
            <select class="form-control" id="course_id" name="course_id" style="width: 390px;" required>
                {% for course in courses %}
                <option value="{{ course.id }}" >{{ course.id }}</option>
                {% endfor %}
            </select>
        </div>  
    </div>
    <div class="form-group"> <!-- Frequency Field -->
        <label class="control-label col-sm-3">Btech(Year)</label>
        <div class="col-sm-1">
                <div class="radio">
                        <label class="radio">
                            <input name="year" type="radio" value="1" checked/>
                            1
                        </label>
                    </div>
            <div class="radio">
                <label class="radio">
                    <input name="year" type="radio" value="2"/>
                    2
                </label>
            </div>
            <div class="radio">
                <label class="radio">
                    <input name="year" type="radio" value="3"/>
                    3
                </label>
            </div>	
            <div class="radio">
                <label class="radio">
                    <input name="year" type="radio" value="4"/>
                    4
                </label>
            </div>											
        </div>
    </div>

    <div class="form-group"> <!-- Submit Button -->
        <div class="col-sm-1 col-sm-offset-8">                     
            <button type="submit" class="btn btn-primary" style="width: 100px;">Add</button>
        </div>
    </div> 
</form>
</div>
{% endblock %}