{% extends "layout.html" %}
{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="changepassword" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<form class="form-horizontal" action="{{ url_for('change_password') }}" method="post">  
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
<div class="form-group"> <!-- old password -->
    <label for="oldpass" class="control-label col-sm-3">Old Password</label>                        
    <div class="col-sm-1">
       <input type="password" class="form-control" id="oldpass" name="oldpass" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="Old Password" required>
    </div>  
</div>

<div class="form-group"> <!-- new password -->
    <label for="newpass" class="control-label col-sm-3">New Password</label>
    <div class="col-sm-1">
        <input type="password" class="form-control" id="newpass" name="newpass" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="New Password" required>
    </div>  
</div>

<div class="form-group"> <!-- Confirm password -->
    <label for="confirmnewpass" class="control-label col-sm-3">Confirm New Password</label>
    <div class="col-sm-1">
        <input type="password" class="form-control" id="confirmpass" name="confirmpass" style="width: 390px; background: transparent;  border: none;border-bottom: 1px solid #000000; outline: none; box-shadow:none;" placeholder="New Password" required>
    </div>  
</div>

<div class="form-group"> <!-- Submit Button -->
    <div class="col-sm-1 col-sm-offset-8">                     
        <button type="submit" class="btn btn-primary" style="width: 100px;">Change</button>
    </div>
</div>  
</form>
</div>
{% endblock %}