{% extends "layout.html" %}
{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form class="form-horizontal">  
<div class="form-group"> <!-- old password -->
    <label for="oldpass" class="control-label col-sm-2">Old Password</label>                        
    <div class="col-sm-10">
       <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Old Password">
    </div>  
</div>

<div class="form-group"> <!-- new password -->
    <label for="newpass" class="control-label col-sm-2">New Password</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" id="newpass" name="newpass" placeholder="New Password">
    </div>  
</div>

<div class="form-group"> <!-- Confirm password -->
    <label for="confirmnewpass" class="control-label col-sm-2">Confirm New Password</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" id="confirmnewpass" name="confirmnewpass" placeholder="New Password">
    </div>  
</div>

<div class="form-group"> <!-- Submit Button -->
    <div class="col-sm-10 col-sm-offset-2">                     
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</div>  
</form>
{% endblock %}