{% extends "layout.html" %}
{% block title %}
    Leave Form
{% endblock %}

{% block main %}
<div class="formforleave" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<form class="form-horizontal" action="{{ url_for('requests') }}" method="post">
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    <div class="form-group"> <!--leave type  -->
        <label for="leavetype" class="control-label col-sm-3">Select Leave Type</label>
        <div class="col-sm-1">
            <select class="form-control" id="type" style="width: 390px;" name="type">
                <option value="Early going">Early going</option>
                <option value="Coming late">Coming late</option>
                <option value="Leave">Leave</option>
            </select>
        </div>  
    </div>
    <div class="form-group"> <!-- Birth Date-->
        <label for="leavedate" class="control-label col-sm-3">Leave Date</label>
        <div class="col-sm-1">
            <input type="date" class="form-control" id="leavedate" style="width: 390px;" name="leavedate">
        </div>  
    </div>
    <div class="form-group"> <!-- Reason -->
        <label for="reason" class="control-label col-sm-3">Reason</label>
        <div class="col-sm-1">
            <textarea class="form-control" id="reason" style="width: 390px;" name="reason"></textarea>
        </div>  
    </div>

    <div class="form-group"> <!-- Submit Button -->
        <div class="col-sm-1 col-sm-offset-8">                     
            <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>
    </div> 
</form>  
</div>
{% endblock %}