{% extends "layout.html" %}
{% block title %}
    Offers
{% endblock %}

{% block main %}
<div class="generate" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<form class="form-horizontal" action="{{ url_for('generate') }}" method="post">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
    {% if generate %}
    <div class="form-group"> <!-- Submit Button -->
        <div class="col-sm-1 col-sm-offset-4">                     
            <button type="submit" class="btn btn-primary">Generate Time-table</button>
        </div>
    </div> 
    {% endif %}
</form>
</div>
{% endblock %}