{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}
    Index
{% endblock %}

{% block main %}
<div style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
    <h2><p class="text-success">Welcome {{ row.name }}</p></h2>
</div>
{% endblock %}