<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Teacher Automatic Timetable: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('index') }}"><span class="blue"> Teacher </span><span class="red"> Automatic </span><span class="yellow"> Timetable</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session.user_id %}
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('view') }}">View</a></li>
                                {% if isadmin == 1 %}
                                <li><a href="{{ url_for('generate') }}">Generate</a></li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Faculty
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="{{ url_for('add_faculty') }}">Add </a></li>
				  <li><a href="{{ url_for('remove_faculty') }}">Remove </a></li>
				  <li><a href="{{ url_for('list_faculty')}}">List </a></li>
				</ul>
			      </li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="{{ url_for('add_courses') }}">Add </a></li>
				  <li><a href="{{ url_for('remove_courses') }}">Remove </a></li>
				  <li><a href="{{ url_for('list_courses')}}">List </a></li>
				</ul>
                  </li>
                  <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Offer
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('add_offer') }}">Add </a></li>
                          <li><a href="{{ url_for('remove_offer') }}">Remove </a></li>
                          <li><a href="{{ url_for('list_offer')}}">List </a></li>
                        </ul>
                          </li>
                          <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Slot
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="{{ url_for('add_slot') }}">Add </a></li>
                                  <li><a href="{{ url_for('remove_slot') }}">Remove </a></li>
                                  <li><a href="{{ url_for('list_slot')}}">List </a></li>
                                </ul>
                                  </li>
                                {% else %}
                                <li><a href="{{ url_for('add preference') }}">Preference</a></li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('change_password') }}"> Change Password </a></li>
                                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">

                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <main>
                {% block main %}{% endblock %}
            </main>
            
        </div>

    </body>

</html>
