{% extends "layout.html" %}
{% block title %}
    List Requests
{% endblock %}

{% block main %}
<div class="listreq" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Reason</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.leave_date }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.leave_type }}</td>
      <td>{{ row.reason }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
</div>        
{% endblock %}