{% extends "layout.html" %}
{% block title %}
    List Faculty
{% endblock %}

{% block main %}
<div class="listfaculty" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Mobile no</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.mobile }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
</div>        
{% endblock %}