<html>
    <head>
        <title>List Faculty</title>
        <style>
            body {
            font-family: Arial;
          }
            ul {
            list-style-type: none;
            padding: 20px;
            margin-left: 25%;
            margin-right: 25%;
            background-color: #f2f2f2;
        } 
        li {
            display: block;
            padding: 10px;
            font-size: 17px;
            text-align: left;
        }
        </style>
    </head>
    <body>
            <ul>
                    <li>Anish mathurya</li>
                    <li>Rutu Prikh</li>
                    <li>Bishwajit Misra</li>
                    <li>Gagan Garg</li>
                    <li>Shweta Garg</li>
                </ul>
    </body>
</html>