{% extends "layout.html" %}
{% block title %}
    Remove Course
{% endblock %}

{% block main %}
<form class="exampleform" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<ul class="courselist">
  <li>
      IT123<button class="closebutton">X</button>
  </li>
  <li>
      CT314<button class="closebutton">X</button>
  </li>
    <li>SC201</li>
    <li>EL333</li> 
    </ul>
{% endblock %}