{% extends "layout.html" %}
{% block title %}
    Slot
{% endblock %}

{% block main %}
<div class="removeoffer" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<form class="form-horizontal" action="{{ url_for('remove_offer') }}" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="form-group"> <!--course list -->
            <label for="slotlist" class="control-label col-sm-3">Select Course</label>
            <div class="col-sm-1">
                <select class="form-control" id="course_id" name="course_id" style="width: 390px;" required>
                    {% for row in rows %}
                    <option value="{{ row.course_id }}">{{ row.course_id }}</option>
                    {% endfor %}
                </select>
            </div>  
        </div>
        

        <div class="form-group"> <!-- Submit Button -->
            <div class="col-sm-1 col-sm-offset-8">                     
                <button type="submit" class="btn btn-primary" style="width: 100px;">Delete</button>
            </div>
        </div> 
    </div>
</form>
</div>
{% endblock %}