{% extends "layout.html" %}
{% block title %}
Remove Faculty
{% endblock %}

{% block main %}
<form class="exampleform" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<ul class="facultylist">
  <li>
      Anish mathurya<button class="closebutton">X</button>
  </li>
  <li>
      Rutu Prikh<button class="closebutton">X</button>
  </li>
  <li>Bishwajit Misra</li>
  <li>Gagan Garg</li>
  <li>Shweta Garg</li>
</ul>
{% endblock %}