{% extends "layout.html" %}
{% block title %}
    Slot
{% endblock %}

{% block main %}
<form class="form-horizontal" action="{{ url_for('remove_offer') }}" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade in" style="width: auto; display: inline-block;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="form-group"> <!--course list -->
            <label for="slotlist" class="control-label col-sm-2">Select Course</label>
            <div class="col-sm-10">
                <select class="form-control" id="course_id" name="course_id" required>
                    {% for row in rows %}
                    <option value="{{ row.course_id }}">{{ row.course_id }}</option>
                    {% endfor %}
                </select>
            </div>  
        </div>
        

        <div class="form-group"> <!-- Submit Button -->
            <div class="col-sm-10 col-sm-offset-2">                     
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div> 
    </div>
    </form>
{% endblock %}