{% extends "layout.html" %}
{% block title %}
    View
{% endblock %}

{% block main %}
<div class="viewadmin" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
  <h2 class="h2">Btech First Year</h2> 
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
            <th scope="col">Professor</th>
            <th scope="col">course</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          {% if row['batch'] == 1 %}
          <tr>
            <td>{{ row.day }}</td>
            {% if row['day_slot'] == 1 %}
            <td> 8:00 - 8:50 </td>
            {% elif row['day_slot'] == 2 %}
            <td> 9:00 - 9:50 </td>
            {% elif row['day_slot'] == 3 %}
            <td> 10:00 - 10:50 </td>
            {% elif row['day_slot'] == 4 %}
            <td> 11:00 - 11:50 </td>
            {% else %}
            <td> 12:00 - 12:50 </td>
            {% endif %}
            <td>{{ row.name }}</td>
            <td>{{ row.course_id }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

        <h2 class="h2">Btech Second Year</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Professor</th>
                <th scope="col">course</th>
              </tr>
            </thead>
            <tbody>
        {% for row in rows %}
        {% if row['batch'] == 2 %}
          <tr>
            <td>{{ row.day }}</td>
            {% if row['day_slot'] == 1 %}
            <td> 8:00 - 8:50 </td>
            {% elif row['day_slot'] == 2 %}
            <td> 9:00 - 9:50 </td>
            {% elif row['day_slot'] == 3 %}
            <td> 10:00 - 10:50 </td>
            {% elif row['day_slot'] == 4 %}
            <td> 11:00 - 11:50 </td>
            {% else %}
            <td> 12:00 - 12:50 </td>
            {% endif %}
            <td>{{ row.name }}</td>
            <td>{{ row.course_id }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

        <h2 class="h2">Btech Third Year</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Professor</th>
                <th scope="col">course</th>
              </tr>
            </thead>
            <tbody>
        {% for row in rows %}
        {% if row['batch'] == 3 %}
          <tr>
            <td>{{ row.day }}</td>
            {% if row['day_slot'] == 1 %}
            <td> 8:00 - 8:50 </td>
            {% elif row['day_slot'] == 2 %}
            <td> 9:00 - 9:50 </td>
            {% elif row['day_slot'] == 3 %}
            <td> 10:00 - 10:50 </td>
            {% elif row['day_slot'] == 4 %}
            <td> 11:00 - 11:50 </td>
            {% else %}
            <td> 12:00 - 12:50 </td>
            {% endif %}
            <td>{{ row.name }}</td>
            <td>{{ row.course_id }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

        <h2 class="h2">Btech Fourth Year</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Professor</th>
                <th scope="col">course</th>
              </tr>
            </thead>
            <tbody>
        {% for row in rows %}
        {% if row['batch'] == 4 %}
          <tr>
            <td>{{ row.day }}</td>
            {% if row['day_slot'] == 1 %}
            <td> 8:00 - 8:50 </td>
            {% elif row['day_slot'] == 2 %}
            <td> 9:00 - 9:50 </td>
            {% elif row['day_slot'] == 3 %}
            <td> 10:00 - 10:50 </td>
            {% elif row['day_slot'] == 4 %}
            <td> 11:00 - 11:50 </td>
            {% else %}
            <td> 12:00 - 12:50 </td>
            {% endif %}
            <td>{{ row.name }}</td>
            <td>{{ row.course_id }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}