{% extends "layout.html" %}
{% block title %}
    View
{% endblock %}

{% block main %}
<div class="generate" style="background-color: #ffffff; margin-top: 10px; margin-left: 200px; margin-right: 200px; padding: 30px; border-radius: 25px; box-shadow: 8px 8px 5px #000000;">
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Btech(Year)</th>
            <th scope="col">course</th>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <td>{{ row.batch }}</td>
            <td>{{ row.course_id }}</td>
            <td>{{ row.day }}</td>
            {% if row['day_slot'] == 1 %}
            <td> 8:00 - 8:50 </td>
            {% elif row['day_slot'] == 2 %}
            <td> 9:00 - 9:50 </td>
            {% elif row['day_slot'] == 3 %}
            <td> 10:00 - 10:50 </td>
            {% elif row['day_slot'] == 4 %}
            <td> 11:00 - 11:50 </td>
            {% else %}
            <td> 12:00 - 12:50 </td>
            {% endif %}
        </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}